# Postgres DB Config
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# MongoDB Config
MONGO_DB=
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=

#JWT Token configuration
TOKEN_SECRET_KEY=
TOKEN_EXPIRATION_TIME=